$def with (page)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>"I Can Help"</title>
    <link rel="stylesheet" type="text/css" href="${URL_BASE}static/style.css" media="screen" />
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="${URL_BASE}">"I Can Help"</a></h1>
	</div>
	<!-- end #logo -->
</div>
<!-- end #header -->

$:page

<div id="footer">
    <p>&copy; 2010 All Rights Reserved<a style="text-decoration:None" href="${URL_BASE}login">.</a></p>
</div>
<!-- end #footer -->



</body>
</html>

