$def with (post, item, form)

<ul id="breadcrumb">
	<li><a href="./" title="Home"><img src="$app_base('/static/images/home.gif')" alt="Home" class="home" /></a></li>
	<li><a href="./view/$post.id" title="$post.title">$post.title</a></li>
	<li><a href="./view/$post.id" title="$item.description">$item.description</a></li>
	<li>Signup to Help</li>
</ul>

<div id="page">
	<div id="content">
		<div class="post">
			<h2 class="title">Signup to help</h2>
			<div class="entry">
                <table class="helpTable">
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                </tr>
                   <tr>
                      <td>$item.date</td>
                      <td>$item.description</td>
                   </tr>
                </table>
                <br/>
                <form action="" method="post">
                    <div><input type="hidden" value="$item.id"/></div>
                $:form.render()
                </form>
			</div>
		</div>
	</div>
	<!-- end #content -->
</div>
<!-- end #page -->



