$def with (item)

<ul id="breadcrumb">
	<li><a href="./" title="Home"><img src="('static/images/home.gif')" alt="Home" class="home" /></a></li>
	<li>Confirmation</li>
</ul>

<div id="page">
	<div id="content">
		<div class="post">
			<h2 class="title">Thank you</h2>
			<div class="entry">
                <table class="helpTable">
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                </tr>
                   <tr>
                      <td>$item.date</td>
                      <td>$item.description</td>
                   </tr>
                </table>
                <br/>
                <p>You have been signed up to help.  If you provided an email, a confirmation will be sent shortly.  A reminder will also be emailed the day before.</p>
                <a href="./view/$item.helpRequestId">Click to go to Help Request</a>
			</div>
		</div>
	</div>
	<!-- end #content -->
</div>
<!-- end #page -->

