$def with (post, item, form)

<ul id="breadcrumb">
	<li><a href="${URL_BASE}" title="Home"><img src="${URL_BASE}static/images/home.gif" alt="Home" class="home" /></a></li>
	<li><a href="${URL_BASE}view/$post.id" title="$post.title">$post.title</a></li>
	<li><a href="${URL_BASE}view/$post.id" title="$item.description">$item.description</a></li>
	<li>Signup to Help</li>
</ul>

<div id="page">
	<div id="content">
		<div class="post">
			<h2 class="title">Signup to help</h2>
			<div class="entry">
                <TABLE class="helpTable">
                <TR>
                  <TH>Date</TH>
                  <TH>Description</TH>
                </TR>
                   <TR>
                      <TD>$item.date</TD>
                      <TD>$item.description</TD>
                   </TR>
                </TABLE>
                <br/>
                <form action="" method="post">
                    <input type="hidden" value="$item.id"/>
                $:form.render()
                </form>
			</div>
		</div>
	</div>
	<!-- end #content -->
</div>
<!-- end #page -->



