$def with (id)

<ul id="breadcrumb">
	<li><a href="${URL_BASE}" title="Home"><img src="${URL_BASE}static/images/home.gif" alt="Home" class="home" /></a></li>
	<li>Confirmation</li>
</ul>

<div id="page">
	<div id="content">
		<div class="post">
			<h2 class="title">Thank you</h2>
			<div class="entry">
                <p>You have been signed up to help.  If you provided an email, a confirmation will be sent shortly.  A reminder will also be emailed the day before.</p>
                <a href="${URL_BASE}view/$id">Click to go to Help Request</a>
			</div>
		</div>
	</div>
	<!-- end #content -->
</div>
<!-- end #page -->

