$def with (request,items,contact)
$ admin = session.admin
$ help_request_filled = True # this will get set to false later if an item is still open


<ul id="breadcrumb">
	<li><a href="./" title="Home"><img src="$app_base('/static/images/home.gif')" alt="Home" class="home" /></a></li>
	<li>$request.title</li>
</ul>

<div id="page">
	<div id="content">
		<div class="post">
			<h2 class="title">$request.title</h2>
			<div class="entry">
                <p>$:request.details</p>
                <br/>
                <br/>

                $if admin:
                   <table class="helpTable">
                       <thead>
                           <tr>
                              <th></th>
                              <th>Date</th>
                              <th>Description</th>
                              <th>Helper Name</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th></th>
                           </tr>
                       </thead>
                       <tbody>
                        $for item in items:
                            $ rowClass = ''
                            $if utils.date_in_past(item.date):
                                $ rowClass = 'inactive'
                            <tr class="$rowClass">
                              <td><a href="./edititem/$item.id">(edit)</a></td>
                              <td>$utils.convert_date(item.date)</td>
                              <td>$item.description</td>
                              <td>$item.helpName</td>
                              <td>$item.helpEmail</td>
                              <td>$item.helpPhone</td>
                              <td><a href="./deleteitem/$item.id">(delete)</a></td>
                              $if not item.helpName:
                                  $ help_request_filled = False
                            </tr>
                       </tbody>
                   </table>
                   <br/>
                   <a href="./newitem/$request.id">Add new item</a><br/>
                $else:
                   <table class="helpTable">
                       <thead>
                           <tr>
                              <th>Date</th>
                              <th>Description</th>
                              <th>Status</th>
                           </tr>
                       </thead>
                       <tbody>
                            $for item in items:
                                $if not utils.date_in_past(item.date):
                                   <tr>
                                      <td>$utils.convert_date(item.date)</td>
                                      <td>$item.description</td>
                                      $if item.helpName:
                                          <td>Help provided</td>
                                      $else:
                                          $ help_request_filled = False
                                          <td><a href="./helpsignup/$item.id">Click here to Help</a></td>
                                   </tr>
                       </tbody>
                   </table>

                <br/>
                $if help_request_filled:
                    <h3>All items have been provided for at this time</h3>
                <br/>

                If you have any further questions, please contact: $contact.name<br/>
                <br/>
                <a href="./">See other help requests &gt;&gt;</a>
			</div>
		</div>
	</div>
	<!-- end #content -->

$if admin:
	<div id="sidebar">
        <div id="sidebar-bgtop"></div>
		<div id="sidebar-content">
			<ul>
				<li>
					<h2>Admin Menu</h2>
                    <ul>
                        <li><a href="./edit/$request.id">Edit Help Request</a></li>
                        <li><a href="./delete/$request.id">Delete Help Request</a></li>
                    </ul>
				</li>
			</ul>
		</div>
		<div id="sidebar-bgbtm"></div>
	</div>
	<!-- end #sidebar -->
</div>
<!-- end #page -->


